<mat-toolbar class="!h-full !w-full flex flex-row justify-between items-center !px-4 !bg-black">
  <section class="flex flex-row items-center gap-4">
    <button mat-icon-button matTooltip="Menu" (click)="toggleMenu()"><mat-icon class="!text-white">menu</mat-icon></button>
    <p class="text-lg font-semibold text-white">u360</p>
  </section>
  <button mat-icon-button matTooltip="Account" [matMenuTriggerFor]="menu"><mat-icon class="!text-white">account_circle</mat-icon></button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  @if (!currentUser()) {
    <button mat-menu-item [routerLink]="['/sign-in']">Sign in</button>
  }
  @if (currentUser()) {
    <ng-container>
      <button mat-menu-item>{{ currentUser().name }} | {{ currentUser().role | uppercase }}</button>
      <button mat-menu-item [routerLink]="['/settings']">Settings</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </ng-container>
  }
</mat-menu>
