@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography:(
    brand-family: var(--font-family),
  )
));

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
));

html {
  // Apply the light theme by default
  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);

  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: dark) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.core-color($dark-theme);
    @include mat.all-component-colors($dark-theme);
  }
}
